@font-face {
    font-family:"aktiv-grotesk";
    src:url("../fonts/aktivLT-300.woff2") format("woff2"),
        url("../fonts/aktivLT-300.woff") format("woff"),
        url("../fonts/aktivLT-300.otf") format("opentype");
    font-display:swap;font-style:normal;font-weight:300;font-stretch:normal;
}
@font-face {
    font-family:"aktiv-grotesk";
    src:url("../fonts/aktivLT-400.woff2") format("woff2"),
        url("../fonts/aktivLT-400.woff") format("woff"),
        url("../fonts/aktivLT-400.otf") format("opentype");
    font-display:swap;font-style:normal;font-weight:400;font-stretch:normal;
}
@font-face {
    font-family:"aktiv-grotesk";
    src:url("../fonts/aktivLT-700.woff2") format("woff2"),
        url("../fonts/aktivLT-700.woff") format("woff"),
        url("../fonts/aktivLT-400.otf") format("opentype");
    font-display:swap;font-style:normal;font-weight:700;font-stretch:normal;
}
@font-face {
    font-family:"aktiv-grotesk";
    src:url("../fonts/aktivLT-800.woff2") format("woff2"),
        url("../fonts/aktivLT-800.woff") format("woff"),
        url("../fonts/aktivLT-800.otf") format("opentype");
    font-display:swap;font-style:normal;font-weight:800;font-stretch:normal;
}
@font-face {
    font-family:"aktiv-grotesk";
    src:url("../fonts/aktivLT-900.woff2") format("woff2"),
        url("../fonts/aktivLT-900.woff") format("woff"),
        url("../fonts/aktivLT-900.otf") format("opentype");
    font-display:swap;font-style:normal;font-weight:900;font-stretch:normal;
}
.tk-aktiv-grotesk { font-family: "aktiv-grotesk",sans-serif; }